@import 'tailwindcss';

:root {
  --background-white: #fff;
  --color-space-cadet: #1a2a59;
  --color-dark-jungle-green: #222222;
  --color-deep-saffron: #ff9933;
  --color-white: #fff;
  --color-black: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-story: var(--background-white);
  --font-roboto: var(--font-roboto);
  --color-language-selected: var(--color-deep-saffron);
  --color-language-unselected: var(--color-black);
  --color-title-hero-section: var(--color-space-cadet);
  --color-description-hero-section: var(--color-dark-jungle-green);
  --color-highlight-text: var(--color-deep-saffron);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background: var(--background-white);
  font-family: var(--font-roboto);
}
